* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.encabezado {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: -8vh;
    z-index: 1000;
    background-image: url(../assets/cartel.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
    height: auto;
    aspect-ratio: 15 / 2.8;
    width: 100%;
    min-width: 0;
}

.navbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 5px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
}

.navbar a {
    color: #F0E0BE;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    border-radius: 15px;
    background-color: #794C2D;

}

.contenidoPrincipal {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    padding: 10px;
}

.texto {
    min-width: 300px;
    max-width: 300px;
}

.texto,
.image {
    margin: 0;
    padding: 0;
}

.image {
    min-width: 200px;
    display: flex;
    justify-content: flex-start;
}

.main-img {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}